<div class="row mt-3 mb-3 align-items-center">
  <div class="col-auto mr-auto">
    <h1>New Visitor</h1>
  </div>
  <div class="col-auto">
    <%= link_to 'Back', visitors_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render 'form', visitor: @visitor %>
  </div>
</div>
